body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f7;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.navbars {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbars img {
    height: 50px;
}

.navbars ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbars li {
    margin: 0 15px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}

.navbars li img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

marquee {
    color: #111;
    font-size: 1.5rem;
    font-weight: bold;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.car h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.fuel-type {
    background-color: #ff5722;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border: 0.5px solid #ccc;
    margin-bottom: 10px;
}

.inpo input {
    /* width: calc(100% - 20px); */
    width:8em;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #e90a0a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: -40px;
}

.arrow-right {
    right: -40px;
}

.arrow-left img, .arrow-right img {
    width: 50px;
    height: 50px;
}
